 {
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "id-length": [2, { "min": 1, "max": 40 }],
    "new-cap": [2, {"capIsNew": false}],
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "strict": [2, "never"]
  },
  "plugins": [
    "react"
  ]
}
